body {
    background-color: #696969; /* Dark Slate Gray for main background */
    color: #F4A460; /* Sandy Brown for text */
}

.content-wrapper {
    background-color: #696969; /* Dim Gray for secondary backgrounds */
    /* padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
}

title {
    color: #eb872f; /* Sandy Brown for headings */
}

h1, h2, h3 {
    color: #F4A460; /* Sandy Brown for headings */
    margin-bottom: 20px;
}

label {
    color: #F4A460; /* Sandy Brown for labels */
}

.form-control {
    background-color: #232727fd; /* Dark Slate Gray for form inputs */
    color: #F4A460; /* Sandy Brown for input text */
    border: 1px solid #4e4e4d; /* Olive Drab for input borders */
}

.form-control:focus {
    background-color: #494949; /* Dark Slate Gray for main background */
    border-color: #F4A460; /* Sandy Brown for input focus */
    box-shadow: 0 0 5px #F4A460; /* Sandy Brown for input focus shadow */
    color: #F4A460; /* Sandy Brown for input text */
}

.btn-primary, .btn-secondary, .btn-success, .btn-warning {
    background-color: #4e4e4d; /* Sandy Brown for buttons */
    border-color: #4e4e4d; /* Olive Drab for button borders */
    color: #F4A460; /* Dark Slate Gray for button text */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover, .btn-secondary:hover, .btn-success:hover, .btn-warning:hover {
    background-color: #6B8E23; /* Olive Drab for button hover */
    border-color: #4e4e4d !important; /* Olive Drab for button borders */
    color: #e2e2e2 !important; /* Dark Slate Gray for button text */
}

.btn-primary:focus, .btn-secondary:focus, .btn-success:focus, .btn-warning:focus,
.btn-primary:active, .btn-secondary:active, .btn-success:active, .btn-warning:active {
    background-color: #6B8E23 !important; /* Steel Blue for button focus/active */
    border-color: #4e4e4d !important; /* Dark Slate Gray for button focus/active border */
    color: #e2e2e2 !important; /* Dark Slate Gray for button text */
}

.list-group-item {
    background-color: #696969; /* Dim Gray for list items */
    color: #F4A460; /* Sandy Brown for list item text */
    border-color: #4e4e4d; /* Olive Drab for list item borders */
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #2F4F4F; /* Dark Slate Gray for list item hover */
}

.unit-image {
    max-width: 40px;  /* Cap the size of the image */
    height: auto;
}

.unit-row {
    display: none;
}
