body {
    background-color: #696969; /* Dark Slate Gray for main background */
    color: #F4A460; /* Sandy Brown for text */
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #494949 !important; /* Dark Slate Gray for navbar background */
    color: #F4A460; /* Sandy Brown for text */
}

.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-nav .nav-link {
    color: #F4A460; /* Sandy Brown for navbar links */
}

.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-nav .nav-link:hover {
    color: #e2e2e2; /* Light color for navbar links on hover */
}

.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    color: #F4A460; /* Sandy Brown for brand text */
}

.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand:hover {
    color: #e2e2e2; /* Light color for brand text on hover */
}

.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler {
    background-color: #F4A460; /* Sandy Brown for the toggler button */
    border: none;
}

.content-wrapper {
    background-color: #696969; /* Dim Gray for secondary backgrounds */
}

title {
    color: #323522; /* Teal for title to make it stand out */
}

h1 {
    color: #e7e7e7; /* Sandy Brown for headings */
    margin-bottom: 20px;
    font-weight: bold; /* Bold text for title */
}

h5 {
    color: #e7e7e7; /* Sandy Brown for headings */
}

h2, h3 {
    color: #F4A460; /* Sandy Brown for headings */
    margin-bottom: 20px;
}

label {
    color: #F4A460; /* Sandy Brown for labels */
}

.form-control {
    background-color: #232727fd; /* Dark Slate Gray for form inputs */
    color: #F4A460; /* Sandy Brown for input text */
    border: 1px solid #4e4e4d; /* Olive Drab for input borders */
}

.form-control:focus {
    background-color: #494949; /* Dark Slate Gray for main background */
    border-color: #F4A460; /* Sandy Brown for input focus */
    box-shadow: 0 0 5px #F4A460; /* Sandy Brown for input focus shadow */
    color: #F4A460; /* Sandy Brown for input text */
}

.btn-primary, .btn-secondary, .btn-success, .btn-warning {
    background-color: #4e4e4d; /* Sandy Brown for buttons */
    border-color: #4e4e4d; /* Olive Drab for button borders */
    color: #F4A460; /* Dark Slate Gray for button text */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover, .btn-secondary:hover, .btn-success:hover, .btn-warning:hover {
    background-color: #6B8E23; /* Olive Drab for button hover */
    border-color: #4e4e4d !important; /* Olive Drab for button borders */
    color: #e2e2e2 !important; /* Dark Slate Gray for button text */
}

.btn-primary:focus, .btn-secondary:focus, .btn-success:focus, .btn-warning:focus,
.btn-primary:active, .btn-secondary:active, .btn-success:active, .btn-warning:active {
    background-color: #6B8E23 !important; /* Olive Drab for button focus/active */
    border-color: #4e4e4d !important; /* Dark Slate Gray for button focus/active border */
    color: #e2e2e2 !important; /* Dark Slate Gray for button text */
}

.list-group-item {
    background-color: #696969; /* Dim Gray for list items */
    color: #F4A460; /* Sandy Brown for list item text */
    border-color: #4e4e4d; /* Olive Drab for list item borders */
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #2F4F4F; /* Dark Slate Gray for list item hover */
}

.unit-image {
    max-width: 40px;  /* Cap the size of the image */
    height: auto;
}

.unit-row {
    display: none;
}

.button-group {
    display: flex !important;
    justify-content: flex-end !important;
}
.button-group button {
    margin-left: 10px !important;
}

/* Modal Styles */
.modal-content {
    background-color: #494949; /* Dark Slate Gray for modal background */
    color: #F4A460; /* Sandy Brown for modal text */
    border: 1px solid #4e4e4d; /* Olive Drab for modal border */
}

.modal-header, .modal-footer {
    border-color: #4e4e4d; /* Olive Drab for modal header/footer border */
}

.modal-header .close {
    color: #F4A460; /* Sandy Brown for close button */
}

.modal-header .close span {
    color: #F4A460; /* Sandy Brown for close button span */
}

.modal-body {
    background-color: #494949; /* Dark Slate Gray for modal body */
    color: #F4A460; /* Sandy Brown for modal body text */
}

.modal-footer .btn-secondary {
    background-color: #4e4e4d; /* Sandy Brown for secondary button */
    border-color: #4e4e4d; /* Olive Drab for button border */
    color: #F4A460; /* Dark Slate Gray for button text */
}

.modal-footer .btn-secondary:hover {
    background-color: #6B8E23; /* Olive Drab for button hover */
    border-color: #4e4e4d !important; /* Olive Drab for button borders */
    color: #e2e2e2 !important; /* Dark Slate Gray for button text */
}

.modal-footer .btn-secondary:focus, .modal-footer .btn-secondary:active {
    background-color: #6B8E23 !important; /* Olive Drab for button focus/active */
    border-color: #4e4e4d !important; /* Dark Slate Gray for button focus/active border */
    color: #e2e2e2 !important; /* Dark Slate Gray for button text */
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

.button-group button {
    margin-left: 10px;
}
